@media ( max-width: 375px ) {
    .textos-perfil{
        width: 290px;
    }
    .perfil-texto h1{
        font-size: 21px;
    }
    
    .bloco-contato{
        width: 80%;
    }
}

@media (min-width: 376px){
    .textos-perfil{
        width: 290px;
    }
    .perfil-texto h1{
        font-size: 21px;
    }
}

@media (min-width: 394px){
    .textos-perfil{
        width: 300px;
    }
    .perfil-texto h1{
        font-size: 25px;
    }
}

@media (min-width: 600px){
    .card{
        width: 60%;
    }

    .bloco-contato{
        width: 80%;
    }
}